.game-card {
    height: 100vh;
    font-family: 'Open Sans', monospace;
    background-color: #f16da4;
    justify-content: center;
}

button#btnRetry {
    max-width: 150px;
    width: 100%;
    background-color: #8e48e9;
    color: black;
    text-decoration: none;
}


button#btnEqual {
    max-width: 150px;
    width: 100%;
    background-color: #ee1f9f;
    color: white;
    text-decoration: none;
}