.calc-row {
    height: 100vh;
    font-family: 'Share Tech Mono', monospace;
    
}

.input-window {
    text-align: end;
    font-size: x-large;
 
}
#calc {
    background-color: black;
    border-color: black;
  }
   .input-window {
    background-color: white;
    border-color: black;
  }
  .btn {
    background-color: #2f79b6;
    color: white;
    border-color: black;
  }
  .btn-outline-danger {
    background-color: red;
    color: white;
    
  }
  .btn-outline-primary {
    color: white;
    border-color: black;
  }
  
  